.block_movie_all { 
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-between;
    margin-top: 20px !important;
    .movie_more {
        width:191px;
        margin:0 15px 30px;
        border: none;
        &:nth-of-type(6n+1){
            margin-left:0px;
        }
        &:nth-of-type(6n+6){
            margin-right:0px;
        }
        .movie_img { 
            float: left; 
            width: 100%;
            overflow: hidden;
            border-radius: 6px;
            img {
                width: 100%;
            }
        }
        .card-body {
            padding: 10px;
            .card-title {
                font-size: 16px;
                font-weight: 700;
            }
            .card-text {
                font-size: 13px;
            }
        }
    }
}

@media only screen and (max-width: 1390px) { 
    .block_movie_all { 
        .movie_more {
            width:199px;
            margin:0 15px 30px;
            &:nth-of-type(6n+6){
                margin-right:15px;
            }
            &:nth-of-type(6n+1){
                margin-left:15px;
            }
            &:nth-of-type(5n+5){
                margin-right:0;
            }
            &:nth-of-type(5n+1){
                margin-left:0px;
            }
        }
    }
}
@media only screen and (max-width: 1200px) { 
    .block_movie_all { 
        .movie_more {
            width:163px;
        }
    }
}
@media only screen and (max-width: 1000px) { 
    .block_movie_all { 
        .movie_more {
            width:159px;
            margin:0 10px 20px;
            &:nth-of-type(6n+6){
                margin-right:10px;
            }
            &:nth-of-type(6n+1){
                margin-left:10px;
            }
            &:nth-of-type(5n+5){
                margin-right:10px;
            }
            &:nth-of-type(5n+1){
                margin-left:10px;
            }
            &:nth-of-type(4n+4){
                margin-right:0;
            }
            &:nth-of-type(4n+1){
                margin-left:0px;
            }
        }
    }
}
@media only screen and (max-width: 770px) { 
    .block_movie_all { 
        .movie_more {
            width:158px;
            &:nth-of-type(4n+4){
                margin-right:10px;
            }
            &:nth-of-type(4n+1){
                margin-left:10px;
            }
            &:nth-of-type(3n+3){
                margin-right:0;
            }
            &:nth-of-type(3n+1){
                margin-left:0px;
            }
        }
    }
}
@media only screen and (max-width: 580px) { 
    .block_movie_all { 
        .movie_more {
            width:153px;
            &:nth-of-type(3n+3){
                margin-right:10px;
            }
            &:nth-of-type(3n+1){
                margin-left:10px;
            }
            &:nth-of-type(2n+2){
                margin-right:0;
            }
            &:nth-of-type(2n+1){
                margin-left:0px;
            }
            .card-body {
                .card-title {
                    font-size: 14px;
                }
                .card-text {
                    line-height: 14px;
                }
            }
        }
    }
}
@media only screen and (max-width: 350px) { 
    .block_movie_all { 
        .movie_more {
            width:100%;
            margin: 0 0 20px !important;
        }
    }
}